
body {
  background: #191a28;
}
.boxed {
  width: 500px;
  height: 500px;
  background-color: #191a28;
  border: 5px solid white;
}

/* \1 border-image-slide, border-image-source */
/* .boxed {
 border: 10px solid;
 border-image-slice: 1;
 border-image-source: linear-gradient(to right bottom , #ffa400, #ff6bcb);
} */

/* 2. inner div */
/* .boxed {
  background-image: linear-gradient(to right bottom , #ffa400, #ff6bcb);
  padding: 10px;
  border-radius: 50%;
}
.box-child {
  width: 100%;
  height: 100%;
  background-color: #191a28;
  border-radius: 50%;
} */

/* 3. pseudo ::before */
.boxed {
  position: relative;
  background-clip: padding-box;
  border: 10px solid transparent;
  border-radius: 10px;
}
.boxed::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -10px;
  background-image: linear-gradient(to right bottom , #ffa400, #ff6bcb);
  border-radius: inherit;
}